body {
  font: 14px Arial, Helvetica, sans-serif;
  margin: 20px;
  background-color: #eee;
  text-align: center;
}

h1 {
  font-weight: 400;
}

.square {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2em;
  border: 1px solid #888;
  background-color: #fff;
}

.square:hover {
background-color: #efe;
}

.square:focus {
  background-color: #fafaee;;
}

.readOnly {
  background-color: #eee;;
}

.readOnly:hover {
  background-color: #eee;;
}

.colEdge {
  border-right: 2px solid black;
}

.rowEdge {
  display: inline-block;
  border-bottom: 1px solid black;
}

button {
  font-weight: normal;
}
